<h1>Devices</h1>
<table>
    <tr>
        <th>No du device</th>
        <th>Localisation</th>
    </tr>

    <?php //debug($devices); ?>

    <?php foreach ($devices as $device): ?>
    <tr>
         <td>
            <?php echo $device['Device']['no_device']; ?>
        </td>
        <td>
            <?php echo $device['User']['ville_device']; ?>
        </td>
    </tr>
    <?php endforeach; ?>

</table>