<h1>Ajouter un utilisateur</h1>
<p><?php echo $this->Flash->render(); ?></p> 
<?php
	echo $this->Form->create('User');
	echo $this->Form->input('username');
	echo $this->Form->input('password', array('type'=>'password'));
	echo $this->Form->end('Créer l\'utilisateur');
?>