<h1>Vue du compte</h1>
<p><?php echo $this->Flash->render(); ?></p>
<p>Nom d'utilisateur : <?php echo h($user['User']['username']); ?></p>
<p>Rôle de l'utilisateur :<?php echo h($user['roleUser']['nom_role']); ?></p>
<p>Créé le : <?php echo $user['User']['created']; ?></p>

<?php echo $this->Html->link('Modifier mon compte','/users/edit', array('class' => 'button')); ?>